@media(max-width:768px){
    p{font-size: 18px;}
}
@media(orientation: landscape){
    body{background: rgb(142, 114, 208);}
}
.box{
    width: 100%;
    height: 100px;
    background-color: green;
}
@media(min-width:768px){
    .box{
        background-color: red;
    }
}
li{
    list-style-type: none;
    text-decoration: none;
}

nav ul{
    display:flex;
    justify-content:space-around;
    display: flex;
}
