@media(max-width:768px){
    p{font-size: 18px;}
}
@media(orientation: landscape){
    body{background: rgb(142, 114, 208);}
}
.box{
    width: 100%;
    height: 100px;
    background-color: green;
}
@media(min-width:768px){
    .box{
        background-color: red;
    }
}
li{
    list-style-type: none;
    text-decoration: none;
}

nav ul{
    display:flex;
    justify-content:space-around;
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #74a731;
    padding: irem;
    /* position: absolute; */
}

.menu a{
    color: #fff;
    padding: lem;
    text-decoration: none;
    display: block;
}

.hemburger{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}
@media(min-width:768px){
    .menu{
        display: flex;
        flex-direction: row;
        position:static;
    }
}