/* h1 { 
  color: purple; 
  text-align: center; 
} 
p { 
  font-size: 25px; 
  color: red; 
}  */

.container{
  display :flex;
  height: 600px;
  width: 1000px;
  background-color: pink;
  border: 1px solid black;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.item{  
      height: 100px;
      width: 200px;
      border: 1px solid black;
      background-color:chocolate;
      flex-grow: 1;
}

.item2{
  order: -1;
  flex-grow: 2;
  align-self: flex-end;
}